.vobject-simple
{
    /* font-family: "Inconsolata"; */
    position: relative;
    border-radius:8px;
    border: 6px solid #556677; 
    padding: 2px 4px 0px 4px;
}

.vobject-simple.draggable
{
    cursor: pointer;
}

.vobject-simple .inputs, 
.vobject-simple .outputs
{
    height: 3px; 
    margin-left: 8px;
    position: relative;
}

.vobject-simple .inputs
{
    top: -8px;
}

.vobject-simple .outputs
{
    top: 3px;
}

.vobject-simple .title
{
    padding: 3px;
}

.vobject-simple .input, 
.vobject-simple .output
{
    width: 20px;
    height: 6px;
    background-color: #aaa;
    display: inline-block;
    vertical-align: top;
    cursor: crosshair;
    margin-right: 10px;
}

.vobject-simple textarea 
{
    border: none;
    display: inline-block;
    vertical-align: middle;
    width: 7em;
}

.vobject-simple .vobject-class
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3em;
}
